<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>304515640604-hvboabmqdc0leq3qov8pcvna8ak5e9vl.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.304515640604-hvboabmqdc0leq3qov8pcvna8ak5e9vl</string>
    <key>ANDROID_CLIENT_ID</key>
    <string>304515640604-3k7g011n40u75rjhsodp1m8n2ij3an3k.apps.googleusercontent.com</string>
    <key>API_KEY</key>
    <string>AIzaSyDRnLWxELHN_8uu0fTrvUHku1v2nwv3Ti8</string>
    <key>GCM_SENDER_ID</key>
    <string>304515640604</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.axyl.restaurant.app</string>
    <key>PROJECT_ID</key>
    <string>axyl-food</string>
    <key>STORAGE_BUCKET</key>
    <string>axyl-food.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:304515640604:ios:d07b6fb24895be58a29ed9</string>
    <key>DATABASE_URL</key>
    <string>https://axyl-food.firebaseio.com</string>
</dict>
</plist>
